<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Plum Deluxe Online Tea Shop: Buy Loose Leaf Tea Online</title>
  </head>
  <body>
    <div class="container">
      <div class="card">
      <div id="headerarea-bg"><span data-sumome-listbuilder-embed-id="7f8416142388359ee986108344f20cffca1e531c8af7e600669ebcc9d9e96c01"></span></di>  
      </div>
        <div class="bar">
        </div>
        <div class="monthHighlight">
        </div>
        <div class="comments">
        </div>
        <div class="description">

        </div>
        <app-tea-list></app-tea-list>

    </div>

  </body>
</html>
